# Ignore R history files
.Rhistory

# Ignore R data files
.RData

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary files
*.tmp
*.log
